*, *::before, *::after() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  border-radius: 15px;
  border: solid;
  overflow: hidden;
  box-shadow: 0 2px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(0,0,0, 0.5);
  transition: all 0.18s ease 0s;
  border-color: #a7999e;
}
.card:hover{
  border: solid;
  border-color: white;
}
.card  img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
.card__title {
  color: white;
  padding: 1rem;
}
.card__description {
  color: white;
  padding: 1rem 1rem;
}
.checked {
  border: solid;
  border-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 40px rgba(255,255,255, 0.5);

}
.card__button {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.card__button button {
  align-items: center;
  color: #282828;
  font-size: 0.6rem;
  padding: 0.4rem 0.7rem;
  margin: 0.2rem 0.3rem 0.8rem 0.5rem;
  background-color: rgba(255, 214, 255, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#add {
  background-color: #9CFF88;
}
