* {
  font-size: 28px; 
}
@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(../src/fonts/Rubik-Regular.ttf) format('truetype');
}
* {
  font-family: monospace;
}
.App {
  background-color: #282828;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header input {
  background-color: #282c34;
  color: #fff;
  border-color: #fff;
  border-radius: 4pt;
  padding: 1vh;
  margin: 1vh;
  font-size: 3vh;
}
.App-header button {
  width: 15vh;
  margin: 1px;
  padding: 1vh;
  font-size: 3vh;
  background-color: #eceff4;
  color: #282828;
  border-radius: 4pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  background-color: #333;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
body {
  background: url(../src/images/background.jpg);
  /* background-color: #282828; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}



